<div class="jumbotron">
  <h1>Security Sample</h1>
  <p>
    Security sample is a blog system has many security holes.
    Let's sign up, and enjoy security holes!
  </p>
  <p>
    <%= link_to "Sign up", new_user_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Log in", new_session_path %>
  </p>
</div>
