<h1>
  <%= @user.name %>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= @user.self_introduction %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %> |
<%= link_to 'Back', users_path, class: "btn btn-default" %>
